.card {
	background-color: black;
	width: max-content;
	padding: 20px 30px 20px 25px;
	border-radius: 15px;
}
h2 {
	background-color: beige;
	width: max-content;
	border-radius: 5px;
	padding: 5px;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 20px;
}
.img {
	border: solid beige;
	width: 100%;
}
.description {
	background-color: beige;
}
p {
	margin: 0;
}
.block1 {
	display: flex;
	background-color: #cecfbc;
	justify-content: space-around;
	align-items: center;
	padding: 10px 0px;
}
.block1 p {
	width: 100%;
	text-align: center;
	border: solid;
}
.block1 p:nth-child(1) {
	width: 100%;
	font-size: 24px;
	font-weight: 800;
}
